<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification" (click)="goToCart()">
        <ion-icon name="cart-outline" color="dark" class="icon-cart"></ion-icon>
        <span>{{cartHasProdcuts | async}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Productos</h1>

  <div #allProducts class="order-items" *ngFor="let product of products">
    <ion-card mode="ios"> <!-- *ngIf="(product.price > 0)"> -->
      <ion-card-content>
        <div class="item-img" (click)="viewDetails(product)" tappable>
          <img src='{{product.image}}' />
        </div>

        <div class="item-info">
          <p>{{product.name}}</p>
          <p>{{product.brand}}</p>
          <p>{{formatPrice(product.price)}}</p>

          <ion-button expand="block" class="main-button" (click)="addProductToCart(product)">Agregar al carrito</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
