<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Iniciar Sesión</h1>

    <div class="form-container">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="user"></ion-input>
          <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
          <ion-icon name="eye" slot="end"></ion-icon>
        </ion-item>
  
        <br><br>

        <div class="alert-message" *ngIf="isValid">
          {{errorMessage}}
        </div>

        <ion-button expand="block" class="main-button" (click)="login()">Ingresar</ion-button>

      <div class="sign-up">
        Aún no tienes cuenta? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Registrarse</ion-button>
      </div>
    </div>
  </div>
</ion-content>
