<ion-header></ion-header>

<ion-content class="ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Bienvenido a PlazaLibre</h1>
      <h3>Productos frescos de campo sin salir de casa</h3>
    </div>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Iniciar sesión</ion-button>
      <ion-button expand="block" color="dark" routerLink="/signup" routerDirection="forward">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
