<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../assets/compra-ok-3.gif" />
        </div>
      </div>

      <h2>Confirmación</h2>
      <p>
        Se ha completado con éxito <br> el procedimiento de pago
      </p>
      <br><br>
      <p>
        Estamos preparando y <br> enviando el pedido
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" (click)="regresarInicio()">Regresar al inicio</ion-button>
  </ion-toolbar>
</ion-footer>