<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Perfíl</h1>

  <div class="profile-info">
    <input id="slider" class="customSlider" type="checkbox">
    <label for="slider"></label>

    <div class="wrapper">
      <div class="top-icons">
        <i class="fas fa-long-arrow-alt-left"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="far fa-heart"></i>
      </div>
      
      <div class="profile">
        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">Beverly Little</h3>
        <p class="title">Avenida (Calle) 32 No. 17 – 30, Bogotá D.C., Colombia</p>
        <p class="title">Moratuwa</p>
        <p class="description">info&#64;codecrafts.net</p>
        <p class="description">+94 775 580 646</p>
      </div>
      
      <div class="social-icons">
        <div class="icon">
          <ion-icon name="enter-outline"></ion-icon>
          <h4>12.8k</h4>
          <p>Visitas al App</p>
        </div>
        
        <div class="icon">
          <ion-icon name="search-circle-outline"></ion-icon>
          <h4>12.8k</h4>
          <p>Productos<br/>Consultados</p>
        </div>
        
        <div class="icon">
          <ion-icon name="cash-outline"></ion-icon>
          <h4>12.8k</h4>
          <p>Productos<br/>Comprados</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
